<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://74.63.215.106:3306/woloskyg_biometric</property>
    <property name="hibernate.connection.username">woloskyg_vaksfk</property>
    <property name="hibernate.connection.password">jaqart_56923</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="biometricauthentication.model.Employee"/>
    <mapping class="biometricauthentication.model.Shift"/>
    <mapping class="biometricauthentication.model.EmployeeType"/>
    <mapping class="biometricauthentication.model.Company"/>
    <mapping class="biometricauthentication.model.BinnacleRecord"/>
  </session-factory>
</hibernate-configuration>
